# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# System files
.DS_Store
Thumbs.db

# Logs / temp
temp/
*.log


# HuggingFace cache (important)
.cache/

.idea/
contract_clause_classifier/
vectorstore/